body {
  text-align: center;
  background-color: rgb(144, 145, 146);
  font-family: sans-serif;
  font-style: oblique;
}
h1 {
  color: rgb(152, 70, 160);
}
p {
  color: rgb(241, 241, 129);
}

img {
  min-height: 500px;
  max-width: 500px;
  width: 80%;
}
input {
  max-width: 25px;
  min-width: 15px;
  width: 5%;
  text-align: center;
}
label {
  position: relative;
  top: 130px;
}
button {
  position: relative;
  top: -160px;
}
